---
import Svgicons from '@/components/svgicons.astro';
export interface Props {
  name: string; //note, tip, caution, danger
  attributes: object;
}

const {name, attributes} = Astro.props as Props;
const title = Object.hasOwn(attributes,"title")?attributes.title:name
const className = name.toLowerCase()
---
<aside aria-label="Note" class={`aside ${className}`}>
  <p class={`icon ${className}`}><Svgicons filename={`notes-${className}`}/>{title}</p>
  <section>
    <slot/>
  </section>
</aside>

<style>
.aside{
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border-width:0;
  border-left: 0.25rem;
  border-style: solid;
  padding:1rem;
}  
.icon :global(svg){
    width:16px;
    height:16px;
    margin-right: 10px;
}
.icon{
  font-size: large;
  margin-top: 0;
}
/* Note */
.note{
  background-color: var(--note-bg-color);
  border-color: var(--note-accent-color);
}
.icon.note :global(svg){
    fill:var(--note-accent-color);
}
.icon.note{
  color: var(--note-accent-color);
}
/* Tip */
.tip{
  background-color: var(--tip-bg-color);
  border-color: var(--tip-accent-color);
}
.icon.tip :global(svg){
    fill:var(--tip-accent-color);
}
.icon.tip{
  color: var(--tip-accent-color);
}

/* Caution */
.caution{
  background-color: var(--caution-bg-color);
  border-color: var(--caution-accent-color);
}
.icon.caution :global(svg){
    fill:var(--caution-accent-color);
}
.icon.caution{
  color: var(--caution-accent-color);
}

/* Danger */
.danger{
  background-color: var(--danger-bg-color);
  border-color: var(--danger-accent-color);
}
.icon.danger :global(svg){
    fill:var(--danger-accent-color);
}
.icon.danger{
  color: var(--danger-accent-color);
}
</style>
