---
import { getAssetBlob } from '@/libs/structure-db';
import { config } from '@/config';

export interface Props {
    item: {
        asset_uid: string;
    };
}

const { item } = Astro.props as Props;
const blob_uid = getAssetBlob(item.asset_uid, config.collect.version_id);
const asset_url = `/assets/${blob_uid}:${item.asset_uid}`;
---
<div class="container">
    <table class="data-table" data-table-url={asset_url}>
        <!-- Data will be populated dynamically using JavaScript -->
    </table>
</div>

<style>
.container{
    padding:5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 3px #ccc;
    display: inline-block;
}
</style>

<script src="./data-tables.js" />
