---
import Layout from "@/layout/Layout.astro"

export interface Props{
    message?: string;
}

const {message} = Astro.props as Props;

---
<Layout title={"404"} headings={[]} >
    <div id="message_404" class="msg">{message}</div>
</Layout>

<style>
    #message_404{
        margin-top: 100px;
        text-align: center;
        font-size: 24px;
        color: var(--color-text-secondary);
    }
</style>