---
import Layout from "@/layout/Layout.astro"

export interface Props{
    message?: string;
}

const {message} = Astro.props as Props;

---
<Layout title={"404"} headings={[]} >
    <div id="message_404" class="msg">{message}</div>
</Layout>

<style>
    #message_404{
        margin-top: calc(var(--space-7) * 2);
        text-align: center;
        font-size: var(--text-h1);
        color: var(--content-color-faint);
    }
</style>